@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles below this line */

@layer components {
  .card-body {
    @apply p-4 sm:p-8;
  }

  /* Smaller tooltip text and tighter padding for inline percentage tooltips */
  .tooltip:before {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem;
    padding: 0.2rem 0.4rem;
    max-width: 16rem;
  }
}
